@charset utf-8;
*{
	margin: 0px;
}
body{
	background-color: #d8e7f4;
	color: #8bb6dd;
}
.nav{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 150px;
	background-color: #3d85c6;
}
.container{
	position: absolute;
	top: 150px;
	width: 75%;
	background-color: #649dd1;
	left: 12.5%;
	padding: 15px;
}
.content{
	margin: auto;
	width: 50%;
	text-align: center;
}
@keyframes snowfall {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100vh);
	}
}
.snowflake{
	animation: snowfall;
	position: absolute;
	/*z-index: -1;*/
}
#board{
	background-color: #b1cee8;
	width: 500px;
	height: 500px;
	margin: auto;
	
}
