@charset utf-8;
table
{
font-family: Arial,sans-sherif;
font-size: 16px;
border-collapse: collapse;
}
td, th
{
border: 1px solid black;
padding: 4px;
}
table.zielen th
{
background-color: green;
color: white;
}
.center
{
	text-align: center;
}
.middle
{
	vertical-align: middle;
}
.right
{
	text-align: right;
}
.bottom
{
	vertical-align: bottom;
}
table.pomarancz th
{
	width: 150px;
	color: blue;
	background-color: orange;
}
table.zdj th
{
	width: 45px;
	height: 40px;
	font-size: 8px;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}
table.zdj td
{
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}
.szary
{
	background-color: rgb(191, 191, 191);
}
.niebieski
{
	background-color: rgb(0, 113, 193);
}
.zielony
{
	background-color: rgb(0, 175, 80);
}
.czerwony
{
	background-color: rgb(251, 2, 0);
}
.zolty
{
	background-color: rgb(255, 255, 0);
}
.brozowy
{
	background-color: rgb(151, 72, 6);
}
.fioletowy
{
	background-color: rgb(110, 48, 162);
}
.wielk
{
	font-size: 27px;
}
