@charset "utf-8";
body{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}
header{
	background-color: rgb(241, 228, 175);
	height: 100px;
}
.lewy{
	background-color: rgb(254, 251, 218);
	float: left;
	clear: right;
	height: 400px;
	width: 20%;
}
footer{
	background-color: rgb(253, 126, 41);
	text-align: center;
	color: white;
	clear: both;
	padding: 20px;
}
ul, ol{
	font-size: 2rem;
}
ol.plazy{
	color: red;
}
ul.zaba{
	color: DarkGreen;
}
ul.ropucha{
	color: gray;
}
.przycisk{
	border: outset 5px brown;
	background-color: white;
	margin: 35px 9% 0px 0px;
	padding: 2px 7% 2px 7%;
	float: left;
	text-decoration: none;
}
.przycisk:hover{
	background-color: gray;
	cursor: pointer;
}
a{
	color: orange;
}
a:visited{
	color: DarkGreen;
}
img{
	height: calc(100% - 20px);
	float:left;
	margin: 10px 50px 10px 10px;
}
li{
	text-indent: 1rem;
}
.obraz{
	width: 80%;
}
img.zaba{
	width: 400px;
	margin-left: calc(50% - 200px);
}
